@{
    ViewData["Title"] = "Contact";
    ViewBag.Page = "contact";
}
<main class="container flex-grow-1">
    <div class="contact-section mt-5">
        <h2>Contact Us</h2>
        <p>If you need support or have questions, feel free to get in touch with us:</p>

        <ul class="list-unstyled">
            <li><strong>📍 Address:</strong> 456, Wellness Street, Mindful City, IN 600001</li>
            <li><strong>📞 Toll-Free:</strong> 1800-123-4567 (24/7 Support)</li>
            <li><strong>📧 Email:</strong> support@thehealthymind.com</li>
        </ul>

        <div class="extra-info mt-4">
            <h5>Insurance Claim Management</h5>
            <p>
                Have a question about our insurance claim management services? Need help with a specific claim? <br />
                ping us a message  or give us a call. We look forward to partnering with you to ensure a smooth billing process.<br /><hr />
                We offer a hassle-free Insurance Claim Management system to help you focus on your mental well-being while we
                handle your paperwork. Our expert support team ensures smooth processing of your therapy or wellness-related
                claims with transparency and care.
            </p>
        </div>
        <div>
        </div>
        <div>
        </div>
    </div>
</main>