@{
    ViewData["Title"] = "Login";
    ViewBag.Page = "login";
}

<div class="login-container">
    <div class="login-wrapper">
        <div class="login-box">
            <div class="logo">
                <span>Hello There, Welcome Back!!</span>
            </div>
            <h4>Login to Get Started</h4>
            <form method="post" asp-controller="Account" asp-action="Login">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }

                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required />
                </div>

                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
                </div>

                <button type="submit" class="btn btn-login">Login</button>
            </form>
        </div>
    </div>
</div>