@{
    ViewData["Title"] = "Sign Up";
    ViewBag.Page = "signup";
}

<div class="login-container">
    <div class="login-wrapper">
        <div class="login-box">
            <div class="logo">
                <span>Welcome!Sign Up to Get Started</span>
            </div>


            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">@ViewBag.SuccessMessage</div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }
            <form method="post" asp-action="SignUp">

                <div class="form-group">
                    <input type="email" name="Email" class="form-control" placeholder="Enter Email" required />
                </div>

                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Enter username" required />
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Create password" required />
                </div>

                <div class="form-group">
                    <input type="password" name="confirmPassword" class="form-control" placeholder="Re-enter password" required />
                </div>

                <button type="submit" class="btn btn-login">Register</button>
            </form>
        </div>
    </div>
</div>